<div class="row border-bottom border-dark m-2">
  <%= link_to "CUSTOMERS", cargo_customers_path, class: "btn btn-success w-auto m-2" %>
  <%= link_to "CARRIERS", cargo_carriers_path, class: "btn btn-success w-auto m-2" %>
</div>
