<div id="<%= dom_id driver %>">
  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Passport:</strong>
    <%= driver.passport %>
  </p>

  <p>
    <strong>Vy:</strong>
    <%= driver.vy %>
  </p>

</div>
