<div id="<%= dom_id car %>">
  <% if car.brand.present? %>
    <div>
      <strong>Brand:</strong>
      <%= car.brand %>
    </div>
  <% end %>
  <% if car.reg_mark.present? %>
    <div>
      <strong>Reg mark:</strong>
      <%= car.reg_mark %>
    </div>
  <% end %>
  <% if car.p_mark.present? %>
    <div>
      <strong>p mark:</strong>
      <%= car.p_mark %>
    </div>
  <% end %>
</div>
