<div id="<%= dom_id car %>">
  <p>
    <strong>Brand:</strong>
    <%= car.brand %>
  </p>

  <p>
    <strong>Reg mard:</strong>
    <%= car.reg_mard %>
  </p>

  <p>
    <strong>P mark:</strong>
    <%= car.p_mark %>
  </p>

</div>
