<p style="color: green"><%= notice %></p>

<h1>Cars</h1>

<div id="cargo_cars">
  <% @cargo_cars.each do |cargo_car| %>
    <%= render cargo_car %>
    <p>
      <%= link_to "Show this car", cargo_car %>
    </p>
  <% end %>
</div>

<%= link_to "New car", new_cargo_car_path %>
