<p style="color: green"><%= notice %></p>

<h1>Contacts</h1>

<div id="cargo_contacts">
  <% @cargo_contacts.each do |cargo_contact| %>
    <%= render cargo_contact %>
    <p>
      <%= link_to "Show this contact", cargo_contact %>
    </p>
  <% end %>
</div>

<%= link_to "New contact", new_cargo_contact_path %>
