<h1>Editing carrier</h1>

<%= render "form", cargo_carrier: @cargo_carrier %>

<br>

<div>
  <%= link_to "Show this carrier", @cargo_carrier %> |
  <%= link_to "Back to carriers", cargo_carriers_path %>
</div>
