<div class="border border-dark m-1 p-2">
  <% unless block.comment.blank? %>
    <%= content_tag :div, block.comment, class: 'text-muted mt-1' %>
  <% end %>

  <% unless block.content.blank? %>
    <%= content_tag :div, content_tag(:pre, block.content), class: 'mt-1' %>
  <% end %>

  <% unless block.link.blank? %>
    <div class="mt-1">
      <%= link_to block.link, block.link, target: '_blank' %>
    </div>
  <% end %>
</div>
