<div class="border border-dark m-1 p-2">
  <div class="col-9 d-inline-block">
    <% unless block_del.comment.blank? %>
      <div class="text-muted">
        <%= block_del.comment %>
      </div>
    <% end %>

    <% unless block_del.content.blank? %>
      <div class="mt-1">
        <%= block_del.content %>
      </div>
    <% end %>

    <% unless block_del.link.blank? %>
      <div class="mt-1">
        <%= link_to block_del.link, block_del.link, target: '_blank' %>
      </div>
    <% end %>
  </div>

  <div class="col-2 d-inline-block align-top">
    <%= button_to('destroy block', block_path(block_del.id), method: :delete,
      class: 'btn btn-dark',
      data: {confirm: t('.destroy_confirm')}
      ) %>
  </div>
</div>
