<%= form_for @chapter do |f| %>
  <!-- %= render partial: 'partials/form_errors', locals: {model: @user} %-->

  <div class="form-group col-10 d-inline-block">
    <%= f.label :name, class: "fw-bold" %>
    <%= f.text_field :name, class: "mb-2 form-control p-1 pr-2" %>
  </div>

  <%= f.submit 'save', class: 'btn btn-primary d-inline-block' %>
<% end %>
