<div class="text-center">
  <%= content_tag :div, (content_tag :h1, @chapter.name), class: 'col-6 text-center d-inline-block' %>
  <%= link_to t('message.edit'), edit_chapter_path(@chapter.id), class: 'btn btn-dark col-2 align-baseline' %>
</div>
<div class="border border-dark">
  dsf
</div>
